*,
::after,
::before {
    box-sizing: border-box;
}
:root {
    --primary: #7264d6;
}
html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.inner {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: #ccc;
    font-size: 3rem;
    /* display: flex; */
    align-items: center;
    position: relative;
}
.container {
    padding: 0;
}

.line-clamp {
    --line: 2;

    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    background: #212832;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    color: #696d77;
    font-size: 1.6rem;
    padding-left: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}
.section-title::before {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 1.8rem;
    height: 0.2rem;
    background: #696d77;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.desc-small {
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Header */
.header {
    padding-top: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 7rem;
}
.nav__link {
    position: relative;
    padding: 4px 24px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}
.nav__link:hover,
.nav__link--active,
.signIn-btn {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active:after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: -0.07rem;
    left: 2.4rem;
    width: calc(100% - 4.8rem);
    height: 0.01rem;
    border-radius: 0.05rem;
    background: #7264d6;
}

.header-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
}

.signUp-btn {
    --height: 5.2rem;
    min-width: 11.3rem;
}
/* Hero */
.hero {
    margin-top: 7.6rem;
}
.hero__content {
    padding: 5.7rem 0;
}

.hero__heading {
    max-width: 50rem;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem; /* 116.667% */
}
.hero__heading span {
    color: #7264d6;
}

.hero__desc {
    max-width: 54rem;
}
.hero-form {
    margin-top: 4rem;
    max-width: 54rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero-form__email {
    padding: 2.3rem;
    width: 80%;
    outline: none;
    border: none;
    background: transparent;
}

.hero-form__email::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}
.hero-form__btn {
    min-width: 14.9rem;
    border-radius: 0.8rem;
    background: #7264d6;
    margin-right: 0.8rem;
}
.hero__note {
    margin-top: 2rem;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}

.hero__img-wrap {
    position: relative;
}

.hero-card1 {
    width: 17.4rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 1.4rem 1rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    left: -10rem;
    top: 11.3rem;
}
.hero-card1__text {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem; /* 100% */
    margin-left: 0.8rem;
}
.hero-card1__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem; /* 100% */
    margin-left: 1.8rem;
}

.hero-card2 {
    width: 12.4rem;
    height: 6.8rem;
    display: flex;
    align-items: center;
    column-gap: 1.1rem;
    padding: 2rem 1.4rem;
    position: absolute;
    border-radius: 1rem;
    background: #439f90;
    bottom: 6.1rem;
    right: 10rem;
}
.hero-card2__price {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem; /* 100% */
}
.hero-card2__text {
    margin-top: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8rem; /* 100% */
}

.hero-card3 {
    position: absolute;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #da6464;
    top: 12.7rem;
    right: 0;
}

.hero-card3__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-card3__text {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}
/* Work */
.work {
    margin-top: 16rem;
}

.work__img-wrap {
    width: 100%;
    height: 61.9rem;
    position: relative;
}
.work__img {
    width: 100%;
    height: 100%;
}
.work__bg,
.work__img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.work-card1 {
    position: absolute;
    top: 7.6rem;
    right: 5.5rem;
}
.work-card2 {
    position: absolute;
    bottom: 9.6rem;
    right: -10rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 22.6rem;
    height: 7rem;
    border-radius: 0.8rem;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
}
.work-card2__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}
.work-card2__desc {
    margin-top: 0.5rem;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
}
.work__content {
    padding: 2.8rem 0;
}
.work-info {
    margin-top: 7rem;
}
.work-info__body {
    margin-bottom: 3rem;
}
.work-info__body:last-child {
    margin-bottom: 0;
}
.work-info__title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem; /* 145.455% */
}
.work-info__desc {
    margin-top: 1.6rem;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}
/* Payments */
.payments {
    padding: 8rem 0;
    margin: 8rem 0;
}

.payments__list {
    margin: 2.8rem 0 3.8rem 0;
}
.payment__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.4rem;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}
.payment__item::before {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #7264d6;
}
.payment__item + .payment__item {
    margin-top: 1.8rem;
}

.payments-top__media {
    display: flex;
    align-items: center;
    height: 100%;
}
.payments-top__img-wrap {
    position: relative;
    display: flex;
}

.payments-top-card1 {
    position: absolute;
    top: -4.8rem;
    right: -8.8rem;
    width: 27.6rem;
    height: 8.6rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.payments-top__body {
    display: flex;
    align-items: center;
    padding: 2.3rem 1.3rem;
}

.payments-top-info {
    margin-left: 1.4rem;
}
.payments-top-detail {
    margin-left: auto;
    text-align: right;
}
.payments-top-info__title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}
.payments-top-info__desc,
.payments-top-detail__date {
    margin-top: 0.4rem;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
}
.payments-top-detail__price {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 400;
}
.payments-top-card2 {
    padding: 1.5rem;
    position: absolute;
    bottom: -5.5rem;
    right: -8.8rem;
    width: 12rem;
    height: 12rem;
    border-radius: 1.6rem;
    background: #439f90;
}
.payments-top-card2__desc {
    margin-top: 1.4rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}
.payments-top-card2__price {
    margin-top: 0.6rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.payments-bottom {
    margin-top: 16rem;
}
.payments-bottom__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 47rem;
    height: 100%;
}
.payments-bottom__img-wrap::after {
    content: url(../img/payment-bottom-bg.svg);
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
}

.payments-bottom__img {
    position: relative;
    z-index: 1;
    width: 41.3rem;
}

.payments-bottom__content {
    height: 100%;
    display: flex;
    align-items: center;
}
.payments-bottom-card1 {
    position: absolute;
    z-index: 2;
    bottom: 5.7rem;
    right: -7.4rem;
    width: 28.1rem;
    background: #fff;
    border-radius: 0.4rem;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}
.payments-bottom-card1__body {
    padding: 2.8rem;
}
.payments-bottom-card1__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.payments-bottom-card1__list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.payments-bottom-card1__item {
    width: 6.3rem;
    height: 4.8rem;
}

.payments-bottom-card1__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.payments-bottom-card1__item:last-child{
    background-color: #F9EA63       ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payments-bottom-card2{
    position: absolute;
    z-index: 3;
    right: -10.2rem;
    bottom: 22.2rem; 
}
